// bower:scss
// endbower

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

* { box-sizing: border-box }

body {
	background-color: #ececec;
	color: #313131;
	overflow: hidden;
}
